 /* Define a custom background */
.content-wrapper {
  background-image: url(books_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(83, 104, 126,.5);
}

/* Change the color and style of the header bar */
.skin-blue .main-header .navbar {
  background-color: rgba(194, 178, 180,1);
}
.skin-blue .main-header .logo, .skin-blue .main-header .logo:hover {
  background-color: rgba(194, 178, 180,1);
  color: #3A4454;
  font-weight: 900;
  font-family: "Copperplate";
  font-size: 36pt;
  text-align: left;
}
.main-header {
  border-bottom: 5px solid #3A4454;
}

/* Edit the existing button object */
.btn {
  width: 100%;
  white-space: normal;
}

/* Custom Button Classes */
.tutorial-btn {
  height: 100px;
  background-color: #896490;
  margin-bottom: 30px;
  color: white;
  font-size: 20pt;
  border: none;
}
.tutorial-btn:focus, .tutorial-btn:hover, .tutorial-btn:active {
  background-color: #6B4E71 !important;
  font-weight: bold !important;
  color: white !important;
  border: none;
}
.text-btn {
  height: 100px;
  background-color: #896490;
  margin-bottom: 30px;
  color: white;
  font-size: 20pt;
  border: none;
}
.text-btn:focus, .text-btn:hover, .text-btn:active {
  background-color: #6B4E71 !important;
  font-weight: bold !important;
  color: white !important;
  border: none;
}
.learn-btn {
  height: 100px;
  background-color: #896490;
  color: white;
  font-size: 20pt;
  border: none;
}
.learn-btn:focus, .learn-btn:hover, .learn-btn:active {
  background-color: #6B4E71 !important;
  font-weight: bold !important;
  color: white !important;
  border: none;
}
.header-btn {
  color: #3A4454 !important;
}
.header-btn:focus, .header-btn:hover, .header-btn:active {
  color: #3A4454 !important;
}

/* Action Link Styling */
a {
  color: #1E8582 !important;
}
a:focus, a:hover, a:active {
  color: #2AB7B2 !important;
}

/* Edit the shinydashboard boxes*/
.box {
  background-color: rgba(228, 221, 222,1);
  border: none;
  box-shadow: 7px 7px rgba(114, 90, 93,.25);
}

/* Upload Input styling */
div#text_upload_ui_1-main>div.col-sm-6>div.box>div.box-body>div.form-group.shiny-input-container>div.input-group {
  height: 300px;
  background-image: url(upload_img.png);
  background-position: center center;
  background-repeat: repeat;
  box-shadow: inset 0 0 0 1000px rgba(107, 78, 113,.25);
  border: solid 3px #3A4454;
  width: 100%;
}
div#text_upload_ui_1-main>div.col-sm-6>div.box>div.box-body>div.form-group.shiny-input-container>div.input-group> input.form-control {
  height: 300px;
  background-color:transparent;
  border: none;
  width: 0%;
}
div#text_upload_ui_1-main>div.col-sm-6>div.box>div.box-body>div.form-group.shiny-input-container>div.input-group>label.input-group-btn.input-group-prepend {
  vertical-align: bottom;
  width: 100%;
}
div#text_upload_ui_1-main>div.col-sm-6>div.box>div.box-body>div.form-group.shiny-input-container>div.input-group>label.input-group-btn.input-group-prepend>span.btn-file {
  background-color: rgba(228, 219, 230,.9);
  border: none;
  color: #1E8582;
  text-align: left;
  border-radius: none;
}
div#text_upload_ui_1-main>div.col-sm-6>div.box>div.box-body>div.form-group.shiny-input-container>div.input-group>label.input-group-btn.input-group-prepend>span.btn-file:focus, div#text_upload_ui_1-main>div.col-sm-6>div.box>div.box-body>div.form-group.shiny-input-container>div.input-group>label.input-group-btn.input-group-prepend>span.btn-file:hover, div#text_upload_ui_1-main>div.col-sm-6>div.box>div.box-body>div.form-group.shiny-input-container>div.input-group>label.input-group-btn.input-group-prepend>span.btn-file:active {
  color: #2AB7B2 !important;
}

.progress-bar {
  background-color: #53687E;
  color: rgba(228, 221, 222,1);
}

